body {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
.up-nav {
    display:flex;
    justify-content:flex-end;   
    padding:9px;

}
.main-nav {
    padding: 16px;
    
}

#main {
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
